<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://kit.fontawesome.com/47d3f22c9f.js" crossorigin="anonymous"></script>


    <title>Ali Salah</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Curriculum Vitae</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ul">
          <li class="nav-item">
            <a class="nav-link" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skils&resources">Skils & Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myworks">My Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-me">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-4  rounded">
            <div class="card bg-light mb-3" style="height: 313px;">
              <div class="m-auto pt-2">
                <img style="width: 10rem;" class="card-img-top rounded-circle border" src="/images/profile.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-0 text-center">
                <p class="m-0 py-2 border-top"><i class="fas fa-id-card"></i> Ali Salah Hassan</p>
                <p class="m-0 py-2 border-top"><i class="fas fa-calendar-day"></i> 1/March/1996</p>
                <p class="m-0 py-2 border-top"><a target="_blank" href="https://www.google.com/maps/place/35%C2%B035'27.0%22N+45%C2%B019'47.9%22E/@35.5908211,45.3294248,19z/data=!3m1!4b1!4m12!1m5!7m4!1m2!1s100581616503303365896!2sChY4Yzk0SGFLbl9sUXpHRVo5Q3NhYjZ3EggHBa6UKq1Kug%3D%3D!2e2!3m5!1s0x0:0x0!7e2!8m2!3d35.5908204!4d45.3299722?hl=en"><i class="fas fa-map-marker-alt"></i> As Sulaymaniyah/Iraq</a></p>
              </div>
            </div>
        </div>
        <div class="col-md-8 rounded" id="overview">
          <div class="card bg-light mb-3" style="min-height: 313px;">
            <div class="card-header">Overview</div>
            <div class="card-body">
              <ul class="ul">
                <li>
                  <span class="h4">S</span>enior web developer, the goal is to specialize in the field of the web and expand to create responsive and integrated websites in multiple ways that meet all customer needs.
                </li>
                <li>
                  Expand in the field of networks and communications in the second rank
                </li>
                <li>
                  Learn, learn and learn and gain experience in the field of technology in addition to finding opportunities To apply what is learned.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12  rounded" id="education">
          <div class="card bg-light mb-3">
            <div class="card-header">Education</div>
            <div class="card-body">
              <ul class="ul">
                <li><i class="fas fa-university"></i> <span class="badge badge-secondary position-relative" style="bottom: 2px;">2019-2020</span> <span class="h4">B</span>achelor's degree in <a target="_blank" href="https://www.uoanbar.edu.iq/ComputerCollege/">Computer Science and Information Technology At University of Anbar</a>.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12  rounded" id="experience">
          <div class="card bg-light mb-3">
            <div class="card-header">Experience</div>
            <div class="card-body">
              <ul class="ul">
                <li><span class="h4">M</span>ore than three years' experience of E-learning, direct application and self-development in the field of website development, Native Applications and network technology</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 pb-1 rounded" id="skils&resources">
          <div class="card bg-light">
            <div class="card-header">Skils & Resources</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">

                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="97">HTML 5</div>
                    <div class="col-6 align-self-center">
                      <ul class="ul">
                        <li class="lead">
                          Pug
                        </li>
                        <li class="lead">
                          Ejs
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#html" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12" id="html">
                      <div class="align-self-center">
                        <ul class="ul">
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/html/"><i class="fab fa-blogger"></i> W3Schools-html</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=6gjg5n9kyBU&list=PLDoPjvoNmBAyXCAQMLhDRZsLi_HurqTBZ"><i class="fab fa-youtube"></i> Elzero Web School-html</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.uoanbar.edu.iq/ComputerCollege/CMS.php?ID=47"><i class="fas fa-university"></i> University Course-html</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://pugjs.org/api/getting-started.html"><i class="fab fa-blogger"></i> Pug-Pug</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://ejs.co/"><i class="fab fa-blogger"></i> Ejs-Ejs</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="90">CSS 3</div>
                    <div class="col-6 align-self-center">
                      <ul class="ul">
                        <li class="lead">
                          Bootstrap
                        </li>
                        <li class="lead">
                          Media query
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#css" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12 row" id="css">
                      <div class="align-self-center col-6">
                        <ul class="ul">
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/css/"><i class="fab fa-blogger"></i> W3Schools-Css</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=aBlZ_2rGeb4&list=PLDoPjvoNmBAyEyQaHOHO1HJtmSgGt07VC"><i class="fab fa-youtube"></i> Elzero Web School-Css</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.uoanbar.edu.iq/ComputerCollege/CMS.php?ID=47"><i class="fas fa-university"></i> University Course-Css</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=auFVttzUoo8&list=PLDoPjvoNmBAw24EjNUp_88S1VeaNK8Cts"><i class="fab fa-youtube"></i> Elzero Web School-Bootstrap</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/bootstrap/"><i class="fab fa-blogger"></i> W3Schools-Bootstrap</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=IjY-BZQHqLA&list=PLDoPjvoNmBAzVaRnCYoklHqz01jve8ZWv"><i class="fab fa-youtube"></i> Elzero Web School-Media Query</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="90">Javascript</div>
                    <div class="col-3 align-self-center">
                      <ul class="ul">
                        <li>
                          Node.js
                        </li>
                        <li>
                          Express
                        </li>
                        <li>
                          Ajax
                        </li>
                      </ul>
                    </div>
                    <div class="col-3 align-self-center">
                      <ul class="ul">
                        <li>
                          Json
                        </li>
                        <li>
                          Jquery
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#javascript" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12 row" id="javascript">
                      <div class="align-self-center col-md-6">
                        <ul class="ul mb-sm-0 mb-md-2">
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/nodejs/"><i class="fab fa-blogger"></i> W3Schools-Node.js</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=eKuNnpWhm7c&list=PLDoPjvoNmBAw6p0z0Ek0OjPzeXoqlFlCh"><i class="fab fa-youtube"></i> Elzero Web School0-Javascript</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/js/default.asp"><i class="fab fa-blogger"></i> W3Schools-Javascript</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=6tLeMfOxIyA&list=PLDoPjvoNmBAytfRIdMIkLeoQHP0o5uWBa"><i class="fab fa-youtube"></i> Elzero Web School-Ajax</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=JLm1ELLqJkA&list=PLDoPjvoNmBAwXDFEEpc8TT6MFbDAC5XNB"><i class="fab fa-youtube"></i> Elzero Web School-Jquery</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://expressjs.com/en/starter/installing.html"><i class="fab fa-blogger"></i> Express.js</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/js/js_ajax_intro.asp"><i class="fab fa-blogger"></i> W3Schools-Ajax</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=CLpmD7hxiBs&list=PLDoPjvoNmBAwH_PyuEFjk3OvXflJJrDRQ"><i class="fab fa-youtube"></i> Elzero Web School-Json</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/js/js_json_intro.asp"><i class="fab fa-blogger"></i> W3Schools-Json</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/jquery/"><i class="fab fa-blogger"></i> W3Schools-Jquery</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="85">Database</div>
                    <div class="col-6 align-self-center">
                      <ul class="ul">
                        <li class="lead">
                          MySql
                        </li>
                        <li class="lead">
                          MongoDB
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#database" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12 row" id="database">
                      <div class="align-self-center col-6">
                        <ul class="ul">
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=DftlOK7fCtc&list=PLDoPjvoNmBAz6DT8SzQ1CODJTH-NIA7R9"><i class="fab fa-youtube"></i> Elzero Web School-MySql</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/sql/default.asp"><i class="fab fa-blogger"></i> W3Schools-MySql</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/nodejs/nodejs_mongodb_create_db.asp"><i class="fab fa-blogger"></i> W3Schools-MongoDb</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://docs.mongodb.com/"><i class="fab fa-blogger"></i> MongoDb-MongoDb</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="93">PHP</div>
                    <div class="col-6 align-self-center">
                      <ul class="ul">
                        <li class="lead">
                          Laravel
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#php" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12 row" id="php">
                      <div class="align-self-center col-6">
                        <ul class="ul">
                          <li>
                            <a target="_blank" href="https://www.w3schools.com/php/"><i class="fab fa-blogger"></i> W3Schools-PHP</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=-u9_T_CLZHY&list=PLDoPjvoNmBAzH72MTPuAAaYfReraNlQgM"><i class="fab fa-youtube"></i> Elzero Web School-PHP</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.uoanbar.edu.iq/ComputerCollege/CMS.php?ID=47"><i class="fas fa-university"></i> University Course-PHP</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://laracasts.com/series/laravel-6-from-scratch"><i class="fab fa-blogger"></i> Laracast-Laravel</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=bXjRQM_VK_I&list=PLDoPjvoNmBAy_mAhY0x8cHf8oSGPKsEKP"><i class="fab fa-youtube"></i> Elzero Web School-Laravel</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row border-bottom">
                    <div class="circlechart mb-3 col-4 pt-2" data-percentage="49">Networking</div>
                    <div class="col-6 align-self-center">
                      <ul class="ul">
                        <li class="lead">
                          CCNA 200-125 routing and switching
                        </li>
                      </ul>
                    </div>
                    <p>
                      <button class="btn dropdown-toggle pt-0" type="button" data-toggle="collapse" data-target="#networking" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                    </p>
                    <div class="collapse col-12 row" id="networking">
                      <div class="align-self-center col-6">
                        <ul class="ul">
                          <li>
                            <a target="_blank" href="https://www.youtube.com/playlist?list=PL77yNtB4-LjlcazC5_mnwM1ClSmm9qp50"><i class="fab fa-blogger"></i> Eng-Ahmed Nazmy</a>
                          </li>
                          <li>
                            <a target="_blank" href="https://www.uoanbar.edu.iq/ComputerCollege/CMS.php?ID=47"><i class="fas fa-university"></i> University Course</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 rounded" id="myworks">
          <div class="card bg-light mb-3">
            <div class="card-header">My Works</div>
            <div class="card-body">
              <ul class="ul">
                <li>
                  <i class="fab fa-laravel"></i> <a target="_blank" href="https://www.alapsn.com/">American Lipo Academy of Plastic Surgery & Non-Surgical</a> An Academy that offers both surgical and non-surgical courses that give a internationally recognized certifications.
                  <br>
                  <small>The website created according to the customer's request by 95%</small>
                </li>
                <li>
                  <i class="fab fa-node-js"></i> <a target="_blank" href="https://progr96ammer-noder.herokuapp.com/">Noder</a> An node.js starter kit, This project was created using node.js language,express.js framework and mongoDb for the database structure.
                  <br>
                  <small>This project was inspired by Laravel Framework</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="contact-me" class="page-footer font-small bg-dark pt-4">
      <div class="row justify-content-center text-white m-0 border-bottom">
        <div class="col-12 col-md-9">
          <form action="/sendMail" method="POST">
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label text-md-right">
                    Name
                </label>

                <div class="col-md-4">
                  <input id="name-input" type="text"
                           class="form-control"
                           name="name" value="" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-md-right">
                    Email
                </label>

                <div class="col-md-6">
                    <input id="email-input" type="email"
                           class="form-control"
                           name="email" value="" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="message" class="col-sm-4 col-form-label text-md-right">
                    Message
                </label>

                <div class="col-md-8">
                    <textarea id="message-input" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" required placeholder="Write your message here ..."></textarea>
                </div>
            </div>
            <div class="form-group row justify-content-end text-center">
              <div class="col-md-8">
                  <div class="btn btn-primary" id="submit">Send</div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-12 p-0">
        <ul class="list-unstyled list-inline text-center pb-2 pl-md-5 sm-ul">
          <li class="mb-2 social-li mx-2 mx-md-0 d-inline-block d-md-block" style="background-color: #3b5998">
            <a target="_blank" href="https://www.facebook.com/Progr96ammer" class="mx-1 a-white">
              <i class="fab fa-facebook-f social-i"> </i>
            </a>
          </li>
          <li class="mb-2 social-li mx-2 mx-md-0 d-inline-block d-md-block" style="background-color: #55acee">
            <a target="_blank" href="https://twitter.com/progr96ammer" class="mx-1 a-white">
              <i class="fab fa-twitter social-i"> </i>
            </a>
          </li>
          <li class="mb-2 social-li mx-2 mx-md-0 d-inline-block d-md-block" style="background-color: #0082ca">
            <a target="_blank" href="https://www.linkedin.com/in/progr96ammer/" class="mx-1 a-white">
              <i class="fab fa-linkedin-in social-i"> </i>
            </a>
          </li>
          <li class="mb-2 social-li mx-2 mx-md-0 d-inline-block d-md-block" style="background-color: #7e43c1">
            <a target="_blank" href="https://www.instagram.com/progr96ammer/" class="mx-1 a-white">
              <i class="fab fa-instagram social-i"> </i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-12 p-0 text-center">
        <p><i class="fas fa-phone"></i> +964-772-188-6181</p>
        <p><i class="far fa-envelope"></i> Progr96ammer@gmail.com</p>
      </div>
      </div>
      <div class="text-white text-center py-3">
        <p class="lead m-0 small">Made With Love <i style="color: blue" class="fas fa-heart"></i></p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/javascripts/js.js"></script>
    <script>
    $('.circlechart').circlechart();
  </script>
  </body>
</html>